[submodule "lib/Didactic-Robot-Project"]
	path = lib/Didactic-Robot-Project
	url = https://github.com/AlexFigas/Didactic-Robot-Project.git
	branch = changes-needed-for-usv-project
[submodule "docs/thesis"]
	path = docs/thesis
	url = https://github.com/AlexFigas/USV-thesis
	branch = master
